@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body.dark {
    background-color: rgb(22, 20, 20);
    color: white;
}

body.dark button {
    background-color: black;
    color: white;
}

hr {
    margin: 1rem 0;
}

button {
    border-style: none;
}